$blue: #3333ff;
$white: #fff;
$lightBlue: #ADD8E6;

@mixin button(){
  outline: none;
  border: none;
  border-radius: 5rem;
  color: $white;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: .2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &:before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    background: $white;
    width: 0%;
    transition: .2s;
    z-index: -1;
  }
    

  &:hover::before{
    width: 100%;
  }
}

@mixin heading() {
  font-size: 4rem;
  color: #000;
  padding-top: 7rem;
  margin-bottom: 2rem;

  span{
    color: $blue;
  }
}


*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  text-transform: capitalize;
  transition: all .2s linear;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}

#header{
  width: 100%;
  position: fixed;
  top: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  z-index: 1000;

  .fa-fire{
    font-size: 5rem;
    z-index: 10000;
    color: $white;
    cursor: pointer;
    display: none;
  }

  .logo{
    img{
      height: 7rem;
    }
  }

  nav{
    ul{
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style: none;

      li{
        margin-right: 4rem;

        a{
          color: $white;
          font-size: 2rem;
          text-decoration: none;


          &:hover{
            color: $blue;
          }
        }
      }
    }
  }
}

.header-active{
  background: #333;
  height: 6rem;
  box-shadow: .2rem 0 .5rem #000;

  nav{
    ul{
      margin: 0;
    }
  }
}

#home{
  background: linear-gradient(0deg, rgba(0,0,0,.6),rgba(0,0,0,.3));
  position: relative;

  .content{
    h1{
      font-size: 5rem;
      font-family: 'lemonada', sans-serif;
      font-weight: bolder;
      text-shadow: .1rem .1rem .3rem $white;
      color: $blue;
    }

    span{
      font-family: 'lemonada', sans-serif;
      text-shadow: .1rem .1rem .3rem $white;
      color: $blue;
    }

    h2{
      font-size: 3.5rem;
      font-family: 'lemonada', sans-serif;
      font-weight: bolder;
      text-shadow: .1rem .1rem .3rem $white;
      color: $white;
      margin: 1rem 0;
    }

    p{
      font-size: 1.6rem;
      color: #ccc;
    }

    button{
      @include button();
      height: 4rem;
      width: 14rem;
      background: $blue;

      &:hover{
        color: $blue;
      }
    }
  }

  .video-container{
    position: absolute;
    top: 0; left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;

    .vid{
      position: absolute;
      height: 100vh;
      width: 100%;
      object-fit: cover;
      display: none;
    }

    .vid1{
      display: block;
    }
  }

  .controls{
    position: absolute;
    bottom: 14%; left: 50%;
    transform: translateX(-50%);
    display: flex;

    .dots{
      height: 2rem;
      width: 2rem;
      cursor: pointer;
      background: $white;
      margin: 0 1rem;
      border-radius: 50%;

      &:hover{
        background: $blue;
      }
    }
  }
}

// special section / seção especial

#special{
  background: #000;
  min-height: 100vh;

  .heading{
    h1{
      @include heading();
      color: $white;
    }

      p{
        color: #ccc;
        font-size: 2rem;
      }
  }

  .card-container{
    width: 95%;
    margin: 7rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    .card{
      height: 45rem;
      width: 35rem;
      background: $white;
      padding: .5rem;
      margin: 1rem;
      text-align: center;

      img{
        height: 70%;
        width: 100%;
        object-fit: cover;
        border-radius: 2rem;
      }

      p{
        font-size: 1.2rem;
        margin: 1rem 0;
      }

      button{
        @include button();
        height: 3.5rem;
        width: 14rem;
        background: #333;
        color: $white;

        &:hover{
          color: $white;
        }
      }
      
      &:hover{
        transform: scale(.9);
      }
    }  
  }
}

// about section 
#about{
  .heading{
    h1{
      @include heading();
    }
  }

  .content{
    margin: 5rem auto;

    p{
      font-size: 1.5rem;

      span{
        color: $blue;
        font-size: 3rem;
      }
    }

    button{
      @include button();
      height: 4rem;
      width: 14rem;
      background: $blue;
      color: $white;

      &:hover{
        color: $blue;
      }
    }
  }

  .image{
    img{
      height: 45vw;
    }
  }
}










.fa-times{
  transform: skew(-180deg) rotate(180deg);
}
// media queries 
@media (max-width: 768px){
  html{
    font-size: 50%;
  }

  #header{

    .fa-fire{
      display: block;
    }
      nav{
        position: fixed;
        top: 0; left: -120%;
        height: 100vh;
        width: 35rem;
        background: $blue; opacity: 0.8;

        ul{
          flex-flow: column;
          justify-content: center;
          height: 100%;

          li{
            margin: 2rem 0;

            a{
              font-size: 3.5rem;
              border-radius: 5rem;

              &:hover{
                padding: .5rem 7.5rem;
                color: $blue;
                background: $lightBlue;
              }
            }
          }
        }
      }

      .nav-toggle{
        left: 0%;
      }
  }
  #about{
    .image{
      text-align: center;
      img{
        height: 70vh;
      }
    }
  }
}
